In [29]:
import pandas as pd
import numpy as np
import json
import os
import seaborn as sns

# Gathering Data

## Twitter Archive Enhanced Data

In [8]:
twitter_enh = pd.read_csv("twitter-archive-enhanced.csv")

In [9]:
twitter_enh.head(2)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,NaN,NaN,NaN,NaN
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,NaN,NaN,NaN,NaN

## Image Predictions Data

In [8]:
# Downloading image predictions data using requests library

url = "https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv"
response = requests.get(url)

with open('image-predictions.tsv', 'wb') as file:
    file.write(response.content)

if os.path.exists('image-predictions.tsv'):
    print("File downloaded successfully!")
else:
    print("An error occurred while downloading the file.")

File downloaded successfully!

In [10]:
df_predictions = pd.read_csv("image-predictions.tsv", sep = "\t")

In [11]:
df_predictions.head(2)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True

## Aditional Data
Data is taken from twitter's api (now known as `x.com`).

Take Each Tweet's by `tweet_id` in *Twitter archive enhanced data*
- Retweet count
- Likes count
- And Additional Data

**Wasn't able to get the data from twitter api**.
So i downloaded the `tweet-json.txt` from the classroom

In [15]:
tweets_data = []
with open('tweet-json.txt', 'r') as file:
    for line in file:
        tweet = json.loads(line)
        tweets_data.append(tweet)

In [27]:
df_additional = pd.DataFrame(tweets_data)

In [28]:
df_additional['retweet_count'].head()

0    8853
1    6514
2    4328
3    8964
4    9774
Name: retweet_count, dtype: int64